<h1 class="govuk-heading-xl"><%=@case.name %></h1>

<%= form_for @case do |f| %>
  <%= hidden_field_tag :next_step, 4 %>

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Section 3 – Other factors that indicate risk level
      </h1>
    </legend>
  </fieldset>

  <%= f.submit 'Next', class: 'govuk-button' %>
<% end %>
