<fieldset class="govuk-fieldset">
<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
  <h1 class="govuk-fieldset__heading">
    Consideration of recommended category
  </h1>
</legend>
<%= render partial: 'shared/review' %>

  <%# render the categorisation option at this point if manager %>

