<h1 class="govuk-heading-xl"><%=@case.name %></h1>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      Section 5 – Consideration of recommended category
    </h1>
  </legend>
  <% @answers.each do |a| %>
    <h3 class="govuk-heading-m">Date of birth</h3>
    <span class="govuk-caption-m"><%= a.display_text["date_of_birth"] %></span>
  <%end%>

</fieldset>

<p><%= link_to 'Next', section_6_case_path(@case), class: 'govuk-button' %></p>
