<h1 class="govuk-heading-xl"><%=@case.name %></h1>

<%= form_for @case do |f| %>
  <%= hidden_field_tag :next_step, 5 %>

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Section 4 – Consideration for Category D
      </h1>
    </legend>

  </fieldset>

  <%= f.submit 'Next', class: 'govuk-button' %>
<% end %>
