<h1 class="govuk-heading-xl"><%=@case.name %></h1>

<fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      Section 6 – Countersigning
    </h1>
  </legend>

</fieldset>

<p><%= link_to 'Finished', cases_path, class: 'govuk-button' %></p>
