<h1 class="govuk-heading-xl"><%=@case.name%>: <%=@case.nomis_id%></h1>
<% (1..@section_data.size).each do |n| 
  element = @section_data.fetch(n.to_s)%>

  <%= render partial: "shared/#{element["type"]}", locals: { 
    purpose: element["purpose"], 
    text: element["text"],
    hint: element["hint"] 
    } %>
    <% end %>

<a href="#" role="button" class="govuk-button">
  Next section
</a>
