<h1 class="govuk-heading-xl"><%=@case.name%>: <%=@case.nomis_id%></h1>
<%= render partial: "shared/#{@section_data.type}", locals: { 
  purpose: @section_data.purpose, 
  text: @section_data.text,
  hint: @section_data.hint 
  } %>