<h1 class="govuk-heading-xl"><%=@case.name%>: <%=@case.nomis_id%></h1>
<%= render partial: "shared/textarea", locals: { 
  purpose: 'previous-convictions', 
  text: "Please provide a summary of the offender's previous convictions",
  hint: "Remember that this can be viewed by the offender" 
  } %>